{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
        <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=utf-8">
        <title>{% block title %}PPRO - ISP{% endblock %}</title>
        <LINK TYPE="text/css" REL="StyleSheet" HREF="{% static 'isp/style.css' %}">
</head>

<body>
    <div id="panel">
        <a href="{% url 'isp:index' %}">Index</a>
        <a href="{% url 'isp:zakaznici' %}">Zákazníci</a>
        <a href="{% url 'isp:tarifni_skupiny' %}">Tarify</a>
    </div>
{% if user.is_authenticated %}
    <div id="uzivatel">Přihlášen jako: {{ user.get_username }} (<a href="/accounts/logout?next={{request.path}}">odhlásit</a>)</div>
{% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
