<h1>{{ zakaznici }}</h1>
<p>TODO neni vhodne aby se aplikace jmenovala stejne jako promenne</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'isp:vote' zakaznici.id %}" method="post">

{% csrf_token %}
{% for ipv4 in zakaznici.ipv4_set.all %}
    <input type="radio" name="ipv4" id="ipv4{{ forloop.counter }}" value="{{ ipv4.id }}">
    <label for="ipv4{{ forloop.counter }}">{{ ipv4 }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
