{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'isp/style.css' %}">

{% if zakaznici_list %}
    {% comment %}
    <ul>
    {% for zakaznik in zakaznici_list %}
        <li><a href="{% url 'isp:detail' zakaznik.id %}">{{ zakaznik }}</a></li>
        <li><a href="{% url 'isp:vote' zakaznik.id %}">vote {{ zakaznik }}</a></li>
    {% endfor %}
    </ul>
    {% endcomment %}

    <table>
        <tr>
            <th>ID</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Telefon</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        {% for zakaznik in zakaznici_list %}
        <tr>
            <td>{{ zakaznik.id }}</td>
            <td>{{ zakaznik.jmeno }}</td>
            <td>{{ zakaznik.prijmeni }}</td>
            <td>{{ zakaznik.telefon }}</td>
            <td>{{ zakaznik.email }}</td>
            <td><a href="{% url 'isp:detail' zakaznik.id %}">TODO vote</a></td>
            <td><a href="{% url 'isp:zakaznik_edit' zakaznik.id %}">edituj zakaznika</a></td>
            <td><a href="{% url 'isp:zakaznik_smaz' zakaznik.id %}">smazat zakaznika</a></td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>Neexistují žádní zákazníci.</p>
{% endif %}

<a href="{% url 'isp:zakaznik_vloz' %}">vložit zákazníka</a></td>
