<H2>
    [ID:{{ tarifniskupiny.id }}] {{ tarifniskupiny.nazev }}
    <a href="{% url 'isp:tarifni_skupina_smaz' tarifniskupiny.id %}">smazat</a>
</H2>

<form method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Ulož">
</form>
<BR>

{% if tarifniskupiny.tarify_set.all %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Cena</th>
        <th>Rychlost<BR>stahování</th>
        <th>Rychlost<BR>odesílání</th>
        <th></th>
        <th></th>
    </tr>
{% for tarif in tarifniskupiny.tarify_set.all %}
    <tr>
        <td>{{ tarif.id }}</td>
        <td>{{ tarif.nazev }}</td>
        <td>{{ tarif.cena }} Kč</td>
        <td>{{ tarif.rychlost_down }} Mbit</td>
        <td>{{ tarif.rychlost_up }} Mbit</td>
        <td><a href="{% url 'isp:tarif_edit' tarifniskupiny.id tarif.id %}">upravit</a></td>
        <td><a href="{% url 'isp:tarif_smaz' tarifniskupiny.id tarif.id %}">smazat</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
<P><a href="{% url 'isp:tarif_vloz' tarifniskupiny.id %}">přidat tarif v této skupině</a></P>



