{% extends "isp/base.html" %}

{% block content %}
{% if tarifni_skupiny_list %}
{% for tarifni_skupina in tarifni_skupiny_list %}
<H2>
    [ID:{{ tarifni_skupina.id }}] {{ tarifni_skupina.nazev }}
    <a href="{% url 'isp:tarifni_skupina_edit' tarifni_skupina.id %}">edituj</a>
    <a href="{% url 'isp:tarifni_skupina_smaz' tarifni_skupina.id %}">smazat</a>
</H2>
{% if tarifni_skupina.tarify_set.all %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Cena</th>
        <th>Rychlost<BR>stahování</th>
        <th>Rychlost<BR>odesílání</th>
    </tr>
{% for tarif in tarifni_skupina.tarify_set.all %}
    <tr>
        <td>{{ tarif.id }}</td>
        <td>{{ tarif.nazev }}</td>
        <td>{{ tarif.cena }} Kč</td>
        <td>{{ tarif.rychlost_down }} Mbit</td>
        <td>{{ tarif.rychlost_up }} Mbit</td>
    </tr>
{% endfor %}
</table>
{% endif %}
<BR>
{% endfor %}
{% else %}
<p>Neexistují žádné tarifní skupiny.</p>
{% endif %}

<BR>
<P><a href="{% url 'isp:tarifni_skupina_vloz' %}">vložit další tarifní skupinu</a></P>
{% endblock %}
