{% extends "isp/base.html" %}
{% load static %}

{% block content %}

<h1>Editace zákazníka</h1>

<form method="post">
    {% csrf_token %}
    <table>
        {{ form.non_field_errors }}
        {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field.errors }}
                {% if field.name == "id_tarifu" %}
                    <select name="id_tarifu" id="id_id_tarifu">
                        <option value="">---------</option>
                        {%for tarif in tarify %}
                        {% if tarif.id_tarifniskupiny == zakaznici.id_adresy.id_tarifniskupiny %}
                        <option value="{{tarif.id}}" {% if tarif.id == zakaznici.id_tarifu.id %}selected{% endif %}>{{tarif}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                {% else %}
                    {{ field }}
                {% endif %}
                </td>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </tr>
        {% endfor %}

        {% comment %}
        {{ form.as_table }}
        {% endcomment %}

    </table>
    <input type="submit" value="Uložit">
    <a href="{% url 'isp:zakaznici' %}">zpět na seznam zákazníků</a>
</form>

<h2>IPv4 adresy zákazníka</h2>
<ul>
{% for ipv4 in zakaznici.ipv4_set.all %}
    <li>
        <span {% if not ipv4.aktivni %}class='neaktivni'{% endif %}>{{ ipv4 }}</span>
        <a href="{% url 'isp:ipv4_edit' ipv4.id %}"><img src='{% static 'isp/images/edituj.gif' %}' border='0' alt='upravit' title='upravit'></a>
        <a href="{% url 'isp:ipv4_smaz' ipv4.id %}"><img src='{% static 'isp/images/smazat.gif' %}' border='0' alt='smazat' title='smazat'></a>
    </li>
{% endfor %}
    <a href="{% url 'isp:ipv4_vloz' zakaznici.id %}">přidat další IPv4</a>
</ul>

<h2>IPv6 adresy zákazníka</h2>
<ul>
{% for ipv6 in zakaznici.ipv6_set.all %}
    <li>
        <span {% if not ipv6.aktivni %}class='neaktivni'{% endif %}>{{ ipv6 }}</span>
        <a href="{% url 'isp:ipv6_edit' ipv6.id %}"><img src='{% static 'isp/images/edituj.gif' %}' border='0' alt='upravit' title='upravit'></a>
        <a href="{% url 'isp:ipv6_smaz' ipv6.id %}"><img src='{% static 'isp/images/smazat.gif' %}' border='0' alt='smazat' title='smazat'></a>
    </li>
{% endfor %}
    <a href="{% url 'isp:ipv6_vloz' zakaznici.id %}">přidat další IPv6</a>
</ul>

{% endblock %}
