{% extends "isp/base.html" %}
{% load static %}

{% block content %}

<h1>Editace zákazníka</h2>

<form method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Uložit">
    <a href="{% url 'isp:zakaznici' %}">zpět na seznam zákazníků</a>
</form>

<h2>IPv4 adresy zákazníka</h2>
<ul>
{% for ipv4 in zakaznici.ipv4_set.all %}
    <li>
        {{ ipv4 }}
        <a href="{% url 'isp:ipv4_edit' ipv4.id %}"><img src='{% static 'isp/images/edituj.gif' %}' border='0' alt='upravit' title='upravit'></a>
        <a href="{% url 'isp:ipv4_smaz' ipv4.id %}"><img src='{% static 'isp/images/smazat.gif' %}' border='0' alt='smazat' title='smazat'></a>
    </li>
{% endfor %}
    <a href="{% url 'isp:ipv4_vloz' zakaznici.id %}">přidat další IPv4</a>
</ul>

<h2>IPv6 adresy zákazníka</h2>
<ul>
{% for ipv6 in zakaznici.ipv6_set.all %}
    <li>
        {{ ipv6 }}
        <a href="{% url 'isp:ipv6_edit' ipv6.id %}"><img src='{% static 'isp/images/edituj.gif' %}' border='0' alt='upravit' title='upravit'></a>
        <a href="{% url 'isp:ipv6_smaz' ipv6.id %}"><img src='{% static 'isp/images/smazat.gif' %}' border='0' alt='smazat' title='smazat'></a>
    </li>
{% endfor %}
    <a href="{% url 'isp:ipv6_vloz' zakaznici.id %}">přidat další IPv6</a>
</ul>

{% endblock %}
