body {
	margin: auto;
	font-size: 12pt;
}

/* lista s odkazy */
#panel {
	background-color: #fda;
	text-align: center;
	margin-bottom: 20px;
	/* hotni a dolni, leva a prava */
	padding: 2px 0px;
	border-bottom: 3px #000 solid;
}
#panel a {
	padding: 2px 7px;
	text-decoration: none;
	color: #000 ; 
}
#panel a:hover {
	background-color: #f96;
}

/* blok odhlaseni uzivatele */
#uzivatel {
	position: absolute;
	left: 1px;
	top: 4px;
	color:gray;
	font-size: 8pt;
}
#uzivatel a {
	text-decoration: none;
	color:gray;
}
#uzivatel a:hover {
	background-color: #f96;
}

/* text na uvodni strance */
.infotext {
	width: 650px;
}
.infotext p {
	  text-align: justify;
}

/* obsah webu pod panelem */
#content {
        /* horni, prava, dolni, leva */
	margin: 0px 20px 0px 20px;
}

table.zakaznici {
	border: 1px solid lightgray;
}
table.zakaznici tr:nth-child(even) {
	background-color: lightgray;
}
table.zakaznici td {
	/* horni, prava, dolni, leva */
	padding: 0px 5px 0px 5px;
}

/* sede a preskrtnute */
span.neaktivni {
  color:gray;
  text-decoration: line-through;
}
